<section class="about-section">
    <div class="div-text-about-section">
      <h1 class="header-about-section">About</h1>
      <p class="text-about-section">
        Vessel emerged back in early 2018 as an idea to cover their greatest influences, as soon after decided on using their on
        material.
        Time and numerous names and line up changes, lead to finally achieving their sweet spot:
        Bruno Passy (vocals) from the depths of Brazil; Ariel Maman (guitars) from the hot lands of Spain;
        Mark “Deadfish” Preis (bass) from southern Brazil; and last but not least, Mor Harpazi (drums) from the desert of Israel.
        Four lost in life guys, who, with Vessel, found themselves in the journey of modernizing the old school heavy metal we all
        love.
        They believe metal took a wrong turn in history, and they are on their way to straighten the wheel and make their old idols
        proud. 
        This is just the beginning of the story, the beginning of Rock n Roll’s history rewriting.
        We suggest you to hold on tight to your seat belts because the real Vessel is not messing around.
        For those about to rock... (You know the rest)
      </p>
    </div>
    <div class="img-about-section"></div>
</section>
