<h1>Contact page</h1>
<%#= form_for(@contact_form) do |f| %>
  <%#= f.label :name %>
  <%#= f.text_field :name %>
  <%#= f.label :last_name %>
  <%#= f.text_field :last_name %>
  <%#= f.email :email %>
  <%#= f.email_field :email %>
  <%#= f.submit %>
<%# end %>
