<div class="banner-container">
  <div class="banner">
    <div class="vessel-logo">
      <img src="https://res.cloudinary.com/dgsqurpio/image/upload/v1601482382/vesselband/120419110_3296210667159552_2587478612173794199_n_jmmi4l.png" alt="vessel-logo">
    </div>
    <div class="logos-container">
      <ul class="logos-banner-list">
        <!--SPOTIFY LOGO-->
        <li class="logo-list-item">
          <%= link_to  "https://open.spotify.com/artist/1Q2wy4E0qYnCfPbpld3DZ5", target: "_blank" do %>
            <i class="fab fa-spotify" id="spotify-logo"></i>
          <% end %>
        </li>
        <!--YOUTUBE LOGO-->
        <li class="logo-list-item">
          <%= link_to "https://www.youtube.com/channel/UCcAXo8K0TSAyiSxngQYrJvQ", target: "_blank"  do %>
            <i class="fab fa-youtube" id="youtube-logo"></i>
          <% end %>
        </li>
        <!--FB LOGO-->
        <li class="logo-list-item">
          <%= link_to "https://www.facebook.com/vesseltelaviv/", target: "_blank"  do %>
            <i class="fab fa-facebook" id="facebook-logo"></i>
          <% end %>
        </li>
        <!--INSTAGRAM LOGO-->
        <li class="logo-list-item">
          <%= link_to "https://www.instagram.com/vessel.band/", target: "_blank"  do %>
            <i class="fab fa-instagram" id="instagram-logo"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
<section class="music-section">
  <div class="spotify-iframe">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/V92DMNhdeV8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</section>
<section class="about-section">
  <div class="text-about-section"></div>
  <div class="img-about-section">

  </div>
</section>
