<div class="banner-container">
  <div class="banner">
    <!-- TYPING EFFECT IN BANNER-->
    <div class="typed-effect-text-banner">
      <p>
        <span id="banner-typed-text"></span>
      </p>
    </div>
    <div class="logos-container">
      <ul class="logos-banner-list">
        <!--SPOTIFY LOGO-->
        <li class="logo-list-item">
          <%= link_to  "https://open.spotify.com/artist/1Q2wy4E0qYnCfPbpld3DZ5", target: "_blank" do %>
            <i class="fab fa-spotify" id="spotify-logo"></i>
          <% end %>
        </li>
        <!--YOUTUBE LOGO-->
        <li class="logo-list-item">
          <%= link_to "https://www.youtube.com/channel/UCcAXo8K0TSAyiSxngQYrJvQ", target: "_blank"  do %>
            <i class="fab fa-youtube" id="youtube-logo"></i>
          <% end %>
        </li>
        <!--FB LOGO-->
        <li class="logo-list-item">
          <%= link_to "https://www.facebook.com/vesseltelaviv/", target: "_blank"  do %>
            <i class="fab fa-facebook" id="facebook-logo"></i>
          <% end %>
        </li>
        <!--INSTAGRAM LOGO-->
        <li class="logo-list-item">
          <%= link_to "https://www.instagram.com/vessel.band/", target: "_blank"  do %>
            <i class="fab fa-instagram" id="instagram-logo"></i>
          <% end %>
        </li>
      </ul>
    </div>

  </div>
</div>

