.section-1 {
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  .photos-container{
    width:50%;
    height:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:65% 35%;;
  }
  .text-container {
    background-color:#0b0a0a;
    width:50%;
    height:100%;
  }
}
