body {
  background-color: black;
}
.banner-container {
  width: 100%;
  height: 100%;
  .banner {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(4,4,4,0.19), rgba(12,10,10,1)),
                      url("https://res.cloudinary.com/dgsqurpio/image/upload/v1599568434/vesselband/aa66bc71-70cf-4c7c-b5e0-cd7a86f45676_yv7em6.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    position: relative;
    text-align: center;
    .typed-effect-text-banner {
      color:white;
      font-size:70px;
      font-weight: bold;
      padding-top: 250px;
      text-shadow: 0px 13px 4px rgba(229, 15, 15, 0.25);
    }
    .logos-container {
      width: 300px;
      height: 50px;
      position: absolute;
      top: 80vh;
      right: 73vh;
      font-size: 40px;
      .logos-banner-list {
        list-style: none;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
        padding: 0;
        i {
          color: white;
          transition: transform .2s;
        }
        #spotify-logo {
          &:hover {
            color:#1DB954;
            transform: scale(1.5);
          }
        }
        #youtube-logo {
          &:hover {
            color:#FF0000;
            transform: scale(1.5);
          }
        }
        #facebook-logo {
          &:hover {
            color:#3b5998;
            transform: scale(1.5);
          }
        }
        #instagram-logo {
          &:hover {
            color:#E1306C;
            transform: scale(1.5);
          }
        }
    }
    }
  }
}
